<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.ShoppingCartMapper">

    <resultMap id="shoppingCartResultMap" type="com.shop.model.ShoppingCart">
        <id property="id" column="id" />
        <result property="idCar" column="id_car" />
        <result property="idDiscount" column="id_discount" />
        <result property="amountCar" column="amount_car" />
         <result property="price" column="price_cart" />

    </resultMap>

    <select id="findAll" resultMap="shoppingCartResultMap">
        SELECT *
        FROM car_shop.shopping_cart;
    </select>

    <select id="findById" parameterType="int" resultMap="shoppingCartResultMap">
        SELECT * FROM car_shop.shopping_cart WHERE id=#{id}
    </select>

    <insert id="insert" parameterType="com.shop.model.ShoppingCart">
        INSERT INTO car_shop.shopping_cart ( id_car, id_discount, amount_car, price_cart)
        VALUES (#{idCar}, #{idDiscount}, #{amountCar}, #{price})
    </insert>

    <update id="update" parameterType="com.shop.model.ShoppingCart">
        UPDATE car_shop.shopping_cart SET
        id_car = #{idCar},
        id_discount=#{idDiscount},
        amount_car=#{amountCar},
        price_cart=#{price}
        WHERE id= #{id}
    </update>

    <delete id="delete" parameterType="int" >
        DELETE FROM car_shop.car WHERE id=#{id}
    </delete>

</mapper>
