<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.BrandMapper">

    <resultMap id="brandResultMap" type="Brand">
        <id property="id" column="id_brand" />
        <id property="name" column="name_brand" />

    </resultMap>

    <select id="findAll" resultMap="brandResultMap">
        SELECT *
        FROM `car_shop`.`brand`;
    </select>

    <select id="findByName" parameterType="String" resultMap="brandResultMap">
        SELECT * FROM `car_shop`.`brand` WHERE name_brand=#{name}
    </select>



</mapper>