<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.CarDTOMapper">

    <resultMap id="carDTOResultMap" type="CarDTO">
        <id property="id" column="id"/>
        <result property="brandName" column="name_brand"/>
        <result property="modelName" column="name_model"/>
        <result property="configName" column="type_configuration"/>
        <result property="configDescription" column="description_configuration"/>
        <result property="dateBuilder" column="date_builder"/>
        <result property="price" column="price"/>

    </resultMap>

    <select id="findAll" resultMap="carDTOResultMap">
      SELECT
        car.id ,
        brand.name_brand ,
        model.name_model ,
        config.type_configuration ,
        config.description_configuration,
        car.date_builder , car.price
        FROM car_shop.car car
         JOIN car_shop.brand brand ON car.id_brand=brand.id
         JOIN car_shop.model model ON car.id_model=model.id
         JOIN car_shop.configuration config ON car.id_configuration=config.id
    </select>

    <select id="findByBrand"  resultMap="carDTOResultMap">
        SELECT
        car.id ,
        brand.name_brand ,
        model.name_model ,
        config.type_configuration ,
        config.description_configuration ,
        car.date_builder ,  car.price
        FROM car_shop.car car
         LEFT JOIN car_shop.brand brand ON car.id_brand=brand.id
         LEFT JOIN car_shop.model model ON car.id_model=model.id
         LEFT JOIN car_shop.configuration config ON car.id_configuration=config.id
        WHERE brand.name_brand=#{brandName}
    </select>

    <select id="findByModel"  resultMap="carDTOResultMap">
        SELECT
        car.id ,
        brand.name_brand ,
        model.name_model ,
        config.type_configuration ,
        config.description_configuration ,
        car.date_builder ,  car.price
        FROM car_shop.car car
        LEFT JOIN car_shop.brand brand ON car.id_brand=brand.id
        LEFT JOIN car_shop.model model ON car.id_model=model.id
        LEFT JOIN car_shop.configuration config ON car.id_configuration=config.id
        WHERE model.name_model=#{modelName}
    </select>

    <select id="findByBrandAndModel"  resultMap="carDTOResultMap">
        SELECT
        car.id ,
        brand.name_brand ,
        model.name_model ,
        config.type_configuration ,
        config.description_configuration ,
        car.date_builder ,  car.price
        FROM car_shop.car car
        LEFT JOIN car_shop.brand brand ON car.id_brand=brand.id
        LEFT JOIN car_shop.model model ON car.id_model=model.id
        LEFT JOIN car_shop.configuration config ON car.id_configuration=config.id
        WHERE brand.name_brand=#{brandName} OR model.name_model=#{modelName}
    </select>

    <select id="findById"  resultMap="carDTOResultMap">
        SELECT
        car.id ,
        brand.name_brand ,
        model.name_model ,
        config.type_configuration ,
        config.description_configuration ,
        car.date_builder ,  car.price
        FROM car_shop.car car
        LEFT JOIN car_shop.brand brand ON car.id_brand=brand.id
        LEFT JOIN car_shop.model model ON car.id_model=model.id
        LEFT JOIN car_shop.configuration config ON car.id_configuration=config.id
        WHERE car.id=#{id}
    </select>


</mapper>