<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.DiscountMapper">

    <resultMap id="discountResultMap" type="Discount">
        <id property="id" column="id" />
        <result property="valueDiscount" column="value_discount" />


    </resultMap>

    <select id="findAll" resultMap="discountResultMap">
        SELECT *
        FROM car_shop.discount;
    </select>

    <select id="findByValue" parameterType="int" resultMap="discountResultMap">
        SELECT * FROM car_shop.discount WHERE value_discount=#{value}
    </select>

    <select id="findById" parameterType="int" resultMap="discountResultMap">
        SELECT * FROM car_shop.discount WHERE id=#{id}
    </select>


    <select id="insert" parameterType="Discount">
        INSERT INTO car_shop.discount ( value_discount)
        VALUES (#{valueDiscount})
    </select>

    <select id="update" parameterType="Discount">
        UPDATE car_shop.discount SET
        value_discount = #{valueDiscount}
        WHERE id= #{id}
    </select>

</mapper>